* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(.375rem + 0.5vw);
    color: #373B44;
    /* background: linear-gradient(to bottom right, #97F0B6 0%, #50F289 100%) no-repeat;
    min-height: 100vh; */
}

h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

#gradient-bg {
    background: linear-gradient(to bottom right, #97F0B6 0%, #50F289 100%);
    height: 100vh;
    padding-top: 100px;
}

#container {
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 35vw;
    max-height: 95vh;
    overflow: hidden;
}

#container #login {
    color: white;
    font-size: calc(0.25rem + 0.333vw);
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.195em;
    background: #50F289;
    border: 1px solid #50F289;
    border-radius: 5px;
    width: 100%;
}

#container #login:hover {
    color: #50F289;
    background-color: white;
}

/* ----------------Responsive---------------- */

@media screen and (max-width: 1024px) {
    #container {
        max-width: 52.5vw;
    }
}

@media screen and (max-width: 768px) {
    #container {
        max-width: 70vw;
    }
}