* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: auto;
    font-family: 'DM Sans', sans-serif;
}

/* ----------------Links---------------- */

a.navlinks {
    color: black;
    text-decoration: none;
}

a.navlinks:hover {
    border-bottom: 2px solid green;
}

a.navlinks:active {
    border-bottom: 2px solid green;
}

/* ----------------Header---------------- */

header {
    max-height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 7.5px;
    background-color: #f6fff9;
}

#logo-wrapper {
    max-width: 25vw;
    max-height: 15vh;
    max-height: inherit;
}

img#logo {
    background-size: contain;
    max-height: 100%;
    margin: auto 7.5px;
}

header nav {
    max-width: 75vw;
    align-self: center;
}

header nav ul li {
    display: inline;
    padding: 7.5px;
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
}

#active {
    border-bottom: 2px solid green;
}

/* ----------------Sidebar---------------- */

#sidebar {
    width: 20vw;
    display: flex;
    position: fixed;
    top: 15vh;
    bottom: 0;
    flex-flow: column;
    justify-content: flex-end;
    padding: 15px;
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
    text-align: right;
    background-color: white;
    border-right: 1px solid whitesmoke;
}

#sidebar div {
    margin: 15px 0;
}

#sidebar ul li {
    margin: 15px 0;
    list-style-type: none;
}

/* ----------------Content---------------- */

#content {
    margin: 15vh 0 0 20vw;
}

#main {
    padding: 3em;
    max-width: 75vw;
    min-height: 1000px;
    font-size: calc(.5rem + .6vw);
}

#main h1 {
    font-size: calc(1.125rem + 1.5vw);
}

#main p {
    line-height: 2em;
}

/* ----------------Footer---------------- */

footer {
    height: calc(15vh + 10px);
    padding: 15px;
    border-top: 1px solid whitesmoke;
    font-size: calc(.5rem + .6vw);
    text-align: center;
    height: 10vh;
    background-color: #97F0B6;
    color: black;
}

footer p {
    margin: auto 15px;
}