* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: auto;
    font-family: 'DM Sans', sans-serif;
    color: #021c0b;
}

/* ----------------Links---------------- */

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------Header---------------- */

header {
    max-height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 7.5px;
    background-color: white;
    border-top: 5px solid #2cf172;
}

#logo-wrapper {
    max-width: 20vw;
}

img#logo {
    background-size: contain;
    max-height: 100%;
    margin: auto;
}

header nav {
    max-width: 75vw;
    align-self: center;
}

#navlist li {
    display: inline;
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
}

#navlist li>a {
    padding: 7.5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#navlist li>a:hover {
    border: 2px solid #021c0b;
    border-radius: 5px;
}

#navlist li>a#active {
    border: 2px solid #021c0b;
    border-radius: 5px;
}

/* ----------------Sidebar---------------- */

#sidebar {
    width: 20vw;
    display: flex;
    position: fixed;
    top: 15vh;
    bottom: 0;
    flex-flow: column;
    justify-content: flex-end;
    padding: 15px;
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
    text-align: right;
    background-color: white;
    /* border-right: 1px solid whitesmoke; */
}

#sidebarlist li {
    margin: 15px 0;
    list-style-type: none;
}

#sidebarlist li>a {
    border-bottom: 2px solid transparent;
}

#sidebarlist li>a:hover {
    border-bottom: 2px solid #2cf172;
}

/* ----------------Content---------------- */

#content {
    margin: 15vh 0 0 20vw;
}

#main {
    padding: 3em;
    max-width: 75vw;
    min-height: 1000px;
    font-size: calc(.5rem + .6vw);
}

#main h1 {
    font-size: calc(1.125rem + 1.5vw);
}

#main p {
    line-height: 2em;
}

/* ----------------Footer---------------- */

footer {
    height: calc(15vh + 10px);
    padding: 15px;
    font-size: calc(.5rem + .6vw);
    text-align: center;
    height: 10vh;
    background-color: #021c0b;
    color: whitesmoke;
}

footer p {
    margin: auto 15px;
}