* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: auto;
    font-family: 'DM Sans', sans-serif;
    color: #021c0b;
}

/* ----------------Tables---------------- */

table {
    width: 100%;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid #021c0b;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

/* ----------------Buttons---------------- */

/* TODO: Change button font-family globally */

button {
    padding: 5px;
}

/* ----------------Font-size---------------- */

.res-8 {
    font-size: calc(.25rem + .333vw);
}

.res-10 {
    font-size: calc(.3125rem + .417vw);
}

.res-12 {
    font-size: calc(.375rem + .5vw);
}

.res-16 {
    font-size: calc(.5rem + .666vw);
}

.res-24 {
    font-size: calc(.75rem + 1vw);
}

.res-36 {
    font-size: calc(1.125rem + 1.5vw);
}

.res-54 {
    font-size: calc(1.6875rem + 2.25vw);
}

.res-72 {
    font-size: calc(2.25rem + 3vw);
}

/* ----------------Links---------------- */

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------Header---------------- */

header {
    max-height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 7.5px;
    background-color: white;
    border-top: 5px solid #2cf172;
    box-shadow: 0px 2px 18px 0px #3e423f;
}

#logo-wrapper {
    max-width: 20vw;
}

img#logo {
    background-size: contain;
    max-height: 100%;
    margin: auto;
}

header nav {
    max-width: 75vw;
    align-self: center;
}

#navlist li {
    display: inline;
    letter-spacing: 0.155em;
}

#navlist li>a {
    padding: 7.5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#navlist li>a:hover {
    color: #2cf172;
    border: 2px solid #2cf172;
    border-radius: 5px;
}

#navlist li>a#active {
    color: #2cf172;
    border: 2px solid #2cf172;
    border-radius: 5px;
}

/* ----------------Sidebar---------------- */

#sidebar {
    width: 20vw;
    display: flex;
    position: fixed;
    bottom: 0;
    flex-flow: column;
    justify-content: flex-end;
    padding: 15px;
    letter-spacing: 0.155em;
    text-align: right;
    background-color: white;
}

#sidebarlist li {
    margin: 15px 0;
    list-style-type: none;
}

#sidebarlist li>a {
    border-bottom: 2px solid transparent;
}

#sidebarlist li>a:hover {
    border-bottom: 2px solid #2cf172;
}

#sidebarlist li>a#active {
    border-bottom: 2px solid #2cf172;
}

/* ----------------Content---------------- */

#content {
    margin: 15vh 0 0 20vw;
    background-color: #f6fef9;
}

#main {
    padding: 3em;
    max-width: 75vw;
    min-height: 1000px;
}

#main p {
    line-height: 2em;
}

/* ----------------Footer---------------- */

footer {
    height: calc(15vh + 10px);
    padding: 15px;
    text-align: center;
    height: 10vh;
    background-color: #021c0b;
    color: whitesmoke;
}

footer p {
    margin: auto 15px;
}