* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: auto;
    margin: 100px 15px 0 15px;
    font-family: 'DM Sans', sans-serif;
}

/* #content {
    width: auto;
} */

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 7.5px;
    background-color: white;
    /* border: 1px solid black; */
}

#logo-wrapper {
    max-width: 25vw;
    max-height: 15vh;
    flex-grow: 3;
    max-height: inherit;
}

img#logo {
    background-size: contain;
    max-height: 100%;
    /* max-width: 25vw; */
    /* flex-grow: 3; */
    margin: auto 7.5px;
}

#logo div {
    height: 100px;
    width: 100px;
    margin: auto;
}

#logo img {
    width: 100%;
    background-size: contain;
}

#logo h1 {
    font-size: calc(1.5rem + 2vw);
    text-align: center;
}

header nav {
    max-width: 75vw;
    flex-grow: 9;
    display: flex;
    justify-content: flex-end;
}

header nav div {
    margin: auto 7.5px;
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
    text-align: center;
    /* flex-grow: 3;*/
}

#sidebar {
    width: 25vw;
    display: flex;
    position: fixed;
    top: 15vh;
    bottom: 10vh;
    flex-flow: column;
    justify-content: flex-end;
    padding: 15px;
    /* border: 1px solid green; */
    font-size: calc(.5rem + .6vw);
    letter-spacing: 0.155em;
    text-align: right;
}

#sidebar div {
    margin: 15px 0;
}

#main {
    margin-left: calc(15px + 25vw);
    max-width: 75vw;
    min-height: 1000px;
    padding: 15px;
    /* border: 1px solid orange; */
    font-size: calc(.5rem + .6vw);
}

footer {
    height: calc(15vh + 10px);
    padding: 15px;
    border-top: 1px solid whitesmoke;
    font-size: calc(.5rem + .6vw);
    text-align: center;
    height: 10vh;
}

footer p {
    margin: auto 15px;
}